.wrapper{
    display: flex;
}

.left{
    flex: 1;
}

.sidebar{
    background-color: red;
    width: 300px;
    height: 100vh;
}

.navbar{
    background-color: green;
    height: 20vh;

    
}
.body{
    background-color: violet;
    height: 80vh;

}